.iznik-collection-banner img {
    width: 100%;
    height: 865px;
    object-fit: cover;
    object-position: top;
}

.esc-size-guide--table-wrap {
  display:none !important;
}
.img-responsive {
  max-width:100%;
  height:auto;
  display:block;
}
.iznik-two-images {
  display:flex;
  justify-content:center;
  gap:15px;
}

@media(min-width:980px){ 
  .iznik-collection-banner img {
      height: 865px;
  }
}
@media(max-width:979px){
  .iznik-collection-banner img {
      height: 400px;
  }
} 

.iznik-pret .iznit-product-app-block + div .radio-size-options:not(.pret-sizechart) {
  display:block !important;
}
.iznik-pret .iznit-product-app-block + div .hdr-custom-size-opt {
  display: none !important;
}
.product-block[data-dynamic-variants-enabled]:has(.bg_css_unstitched input:checked) + .iznit-product-app-block + .product-block .product-block #add-on .cstm-size-diagram-container,
.product-single__meta:has(.variant__label.iznik-Size) .iznit-product-app-block + div .hdr-custom-size-opt,
.product-single__meta:has(.variant__label.iznik-Size) .iznit-product-app-block + div .line-item-property__field, 
div[data-product-blocks]:has(.product-block .iznik-Type .bg_css_unstitched input:checked) #infiniteoptions-container > div[role="group"],
.product-block[data-dynamic-variants-enabled]:has(.bg_css_unstitched input:checked) + .iznit-product-app-block #infiniteoptions-container > div[role="group"],
.product-block[data-dynamic-variants-enabled]:has(.bg_css_unstitched input:checked) + .iznit-product-app-block + .product-block .product-block .radio-size-options {
  display: none !important;
}

.custom_size_option_addon {
  display: none;
}

.product-single__form:has(#Custom-Size:checked) .custom_size_option_addon {
  display: block !important;
}

.page-content--product:not(.iznik-pret).product-block[data-dynamic-variants-enabled]:has(.variant-input:not(.bg_css_unstitched) input:checked) + .iznit-product-app-block + .product-block .radio-size-options,
.page-content--product:not(.iznik-pret) .product-block[data-dynamic-variants-enabled]:has(.variant-input:not(.bg_css_unstitched) input:checked) + .iznit-product-app-block + .product-block .hdr-custom-size-opt {
  display: flex !important;
}
.product-block[data-dynamic-variants-enabled]:has(.variant-input:not(.bg_css_unstitched) input:checked) + .iznit-product-app-block + .product-block .product-block:has(#Custom-Size:checked) #add-on .cstm-size-diagram-container {
  display: block !important;
}
@media (max-width: 767px) {
  .product-block[data-dynamic-variants-enabled]:has(.variant-input:not(.bg_css_unstitched) input:checked) + .iznit-product-app-block + .product-block .radio-size-options,
  .product-block[data-dynamic-variants-enabled]:has(.variant-input:not(.bg_css_unstitched) input:checked) + .iznit-product-app-block + .product-block .hdr-custom-size-opt {
    justify-content: center;
  }
  .iznik-two-images {
    display:grid !important;
    grid-template-columns:repeat(2,1fr);
  }

}

.product-single__meta:has(.product-block[data-dynamic-variants-enabled] .variant-input-wrap .variant-input[data-value^="Stitched"] input:checked) .iznit-product-app-block #infiniteoptions-container .yard,
.product-single__meta:has(.product-block[data-dynamic-variants-enabled] .variant-input-wrap .variant-input[data-value^="Unstitched"] input:checked) .iznit-product-app-block #infiniteoptions-container > div:first-of-type {
  display:none !important;
}
.product-single__meta:has(.product-block[data-dynamic-variants-enabled] .variant-input-wrap .variant-input[data-value^="Stitched"] input:checked) .iznit-product-app-block #infiniteoptions-container > div:first-of-type,
.product-single__meta:has(.product-block[data-dynamic-variants-enabled] .variant-input-wrap .variant-input[data-value^="Unstitched"] input:checked) .iznit-product-app-block #infiniteoptions-container .yard{
    display:block !important;
}

.product-single__meta:has(.product-block[data-dynamic-variants-enabled] .variant-input-wrap .variant-input[data-value^="Stitched"] input:checked) .product-block .product-block .radio-size-options {
  display:flex !important;
}
.product-single__meta:has(.product-block[data-dynamic-variants-enabled] .variant-input-wrap .variant-input[data-value^="Unstitched"] input:checked) .product-block .product-block .radio-size-options {
	display:none !important;
}